/* change the boxing of the page here */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* change the background color of the page here */
body{
    background-image: url('images/oceanview.jpg') !important;
    background-size: cover;
    background-position: top;  
    background-repeat: no-repeat; 
    
}

.portfolio {
    background-image: url('images/bg-01.jpg') !important;
}

.contact-page {
    background-image: url('images/contact-us.jpg') !important;
}

/* change the styling of the header here */
header {
    padding: 20px;
    font-family: 'Lobster', cursive;
    left: 0;
    top: 0;
    width: 100%;
    background-image: transparent;
}

/* change the display of the header here */
header h1{
    display: inline-block;
    font-size: 24px;
    color: white;
}

/* change the styling of the title of the <header><nav> </nav></header> here */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
}

/* change the styling of the list of the <header><nav> </nav></header> here */
header nav ul {
    list-style-type: none;
    margin: -10px;
}

/* change the styling of the list within the <header><nav> </nav></header> here */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* change the styling of the <header></header> links here */
a {
    color: rgb(243, 234, 233);
    text-decoration: none;
}

/* change the hover property of the navigation links here */
.nav-bar-intro a:hover {
    color: rgba(214, 240, 248, 0.877);
}

#inc {
    color: white;
}

/* change styling of the container element here */
.container {
    background-color: white;
    vertical-align: middle;
    border: 0px;
    width: 540px;
    height: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px !important;
} 

/* change the styling for the contact h2 here */
.color-text {
    font-family: sans-serif;
    font-size: 24px;
    background-image: linear-gradient(to left, rgb(241, 240, 243) 0%,  rgba(6, 177, 230, 0.877) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortext {
    font-family: sans-serif;
    font-size: 24px;
    background-image: linear-gradient(to left, rgb(241, 240, 243) 0%,  rgba(109, 46, 67, 0.473) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* change the styling of the paragraph tag within the <section class='content'></section> */
p {
    font-size: 16px;
    color:  rgba(109, 46, 67, 0.473);
}

/* position of the images within the <section class='content'><section> here */
.float-left {
    float: left;
    margin-right: 25px;
}

/* change the contents of the elements within the <section class='content'><section> here */
.row d-flex justify-content-center {
    width: 60%;
    display: inline-block;
}

/* change the styling within the <section class='contents'></section> */
.col-md-6 {
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgba(6, 177, 230, 0.877);
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    height: auto;
}
.col-md-4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgba(6, 177, 230, 0.877);
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 500px;
}

/* change the styling within the <section class='contents'></section> */
.col-md-6 img {
    border-radius: 30px;
    max-height: 200px;
    box-shadow: 20px 20px 20px rgba(127, 107, 236, 0.19), 0 6px 6px rgba(192, 174, 114, 0.23);
}

/* change the styling within the <footer></footer> here */
.footer {
    position: sticky;
    left: 0;
    padding: 15px;
    width: 100%;
    clear: both;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    background: transparent
}

/* change the styling within the <footer></footer> here */
.footer span {
    font-size: 20px;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .nav-bar-intro .nav-name a {
      float: none;
      width: 100%;
    }
} 

/* change the styling of the port-folio class here */
.port-folio {
    font-family: sans-serif;
    font-size: 24px;
    background-image: linear-gradient(to left, rgb(241, 240, 243) 0%, rgba(6, 177, 230, 0.877) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* change the styling for the wrapper class here */
.wrapper {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 20px 0 20px;
}

/* change the styling of the images in the wrapper class here */
.wrapper img{
    width: 100%;
    height: auto;
}

/* Change the position of the dice-game class within the container */
.card-1 {
    grid-column: 1;
    grid-row: 1;
}

/* Change the position of the dice-game class within the container */
.card-2 { 
    grid-column: 2;
    grid-row: 1;
}

/* Change the position of the dice-game class within the container */
.card-3 {
    grid-column: 3;
    grid-row: 1;
}

/* Change the position of the dice-game class within the container */
.card-4 {
    grid-column: 1;
    grid-row: 2;
}

/* Change the position of the dice-game class within the container */
.card-5 {
    grid-column: 2;
    grid-row: 2;
}
/* change the styling for the forms inside the container class here */
.form-control {
    border-radius: 30px;
    border-color: skyblue;
}


#about, #contact, #portfolio {
    background-color: white;
}

/* change the styling within the <div class='button-element'></div> here */
#submit {
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-size: 18px;
    background: -webkit-linear-gradient(left, rgb(241, 240, 243) 0%, rgba(6, 177, 230, 0.877) 100%);
    margin: 20px 0 0 110px;
    color: rgb(255, 255, 255);
}
#message {
    padding: 0 0 100px 0;
    border-radius: 10px;
}

/* change the styling within the <textarea></textarea> here */
/*@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }*/