/* change the styling of the html here */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* change the background color of the page here */
body {
    background-image: url('images/bg-01.jpg') !important;
    background-size: cover;
    background-position: top;  
    background-repeat: no-repeat; 
    
}

/* change the styling of the header here */
header {
    padding: 15px;
    font-family: 'Lobster', cursive;
    background-color: whitesmoke;
    color: #b8b8b8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

/* change the display of the header here */
header h1{
    display: inline-block;
    font-size: 24px;
}

/* change the styling of the title of the <header><nav> </nav></header> here */
header nav {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
}

/* change the styling of the list of the <header><nav> </nav></header> here */
header nav ul {
    list-style-type: none;
}

/* change the styling of the list within the <header><nav> </nav></header> here */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* change the styling of the <header></header> links here */
a {
    color: #b8b8b8; 
    text-decoration: none;
}

/* change the styling of the hover property within the <header><nav></nav></header> here */
.nav-bar-intro a:hover {
    background-color: #000000;
    color: snow;
}

/* change styling of the container element here */
.container {
    background-color: white;
    vertical-align: middle;
    width: 500px;
    height: 690px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 30px !important;
} 

/* change the styling of the port-folio class here */
.port-folio {
    font-family: sans-serif;
    font-size: 24px;
    background-image: linear-gradient(to left, rgb(241, 240, 243) 0%, rgba(75, 75, 75, 0.877) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* change the styling for the wrapper class here */
.wrapper {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/* change the styling of the images in the wrapper class here */
.wrapper img{
    width: 220px;
    height: 175px;
    vertical-align: middle;
    border-radius: 60px;
}

/* Change the position of the dice-game class within the container */
.dice-game {
    grid-column: 1;
    grid-row: 1
}

/* Change the position of the dice-game class within the container */
.witcher { 
    grid-column: 2;
    grid-row: 1;
}

/* Change the position of the dice-game class within the container */
.ACEs {
    grid-column: 1;
    grid-row: 2;
}

/* Change the position of the dice-game class within the container */
.widgets {
    grid-column: 2;
    grid-row: 2;
}

/* Change the position of the dice-game class within the container */
.rockpaperscissors {
    grid-column: 1;
    grid-row: 3;
}

/* change the styling within the <footer></footer> here */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #b8b8b8;
    background: whitesmoke;
}

/* change the styling within the <footer></footer> here */
.footer span {
    font-size: 20px;
}